# Common rewrite rules for all AEM virtual hosts.
# This file is included by all vhosts.
#
# WARNING - This file is maintained by Ansible and must not be edited manually ! 
#

# mangle some colons
RewriteRule ^(.*)jcr:content(.*)$ $1_jcr_content$2 [PT]

# Requests to absolute paths should left alone
RewriteCond %{REQUEST_URI} ^/apps [OR]
RewriteCond %{REQUEST_URI} ^/content [OR]
RewriteCond %{REQUEST_URI} ^/etc [OR]
RewriteCond %{REQUEST_URI} ^/system [OR]
RewriteCond %{REQUEST_URI} ^/libs [OR]
RewriteCond %{REQUEST_URI} ^/home [OR]
RewriteCond %{REQUEST_URI} ^/crx [OR]
RewriteCond %{REQUEST_URI} ^/rest
RewriteRule ^(.*)$ $1 [PT,L]

RequestHeader unset Authorization

RewriteCond %{QUERY_STRING} ^(.*)sling:authRequestLogin(.*)$
RewriteRule (.*)            $1?     [R=permanent]